footer
  .footer
    .footer__text1
      p.footer__text1_dream DREAMSHARE
      .footer__text1__company
        p.footer__text1__company_com Company
        .footer__text1__company__href
          a.footer__text1__company__href_a(href='') About
          a.footer__text1__company__href_a(href='') Contact
          a.footer__text1__company__href_a(href='') Press
          a.footer__text1__company__href_a(href='') Blog
          a.footer__text1__company__href_a(href='') Terms and Privacy
          a.footer__text1__company__href_a(href='') Help
      p.footer__text1__company_com Partners
    .footer__text2
      p.footer__text2_designed DESIGNED BY
      img(src='./images/areto.jpg', alt='')
