header
  .container
    .container__dreamshare
      p.container__dreamshare_dream DREAMSHARE
      .container__dreamshare__login
       a.container__dreamshare__login_log(href='') Log in
       a.container__dreamshare__login_sing(href='') Sing up
    .container__share
      p SHARE YOUR HOLIDAY DREAM
    p.container_and And find the perfect partner to fullfill it
    a.container_find(href='') Find your holiday partner
